html {
  --social-icon-color: gray;
}
html.dark {
  --social-icon-color: #e6e6e6;
}
.Contact p {
  font-size: 22px;
  font-weight: 400;
}
.Contact_social_icons {
  display: flex;
  justify-content: left;
  margin: 30px auto;
}
.social-icons {
  font-size: 25px;
  color: var(--social-icon-color);
  margin: 0 10px;
}
.Contact_l a {
  text-decoration: none;
}
.mt-100 {
  margin-top: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}
