* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sign-in-containers {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  font-family: "Poppins", sans-serif;
}
.containers {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#left-containers {
  background-color: #e8e8e8;
}
#illustration {
  max-width: 80%;
  height: 100vh;
}
#right-containers {
  margin-top: 20px;
}
#logo-containers {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#logo {
  max-width: 30%;
  margin: 0 10px;
}

#welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: show 1s ease-in-out;
}

#logo-containers h5 {
  font-size: 14px;
}
#sign-in {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: show 1s ease-in-out;
}
#avatar {
  max-width: 30%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form .input-containers {
  width: 60%;
  height: 40px;
  display: flex;
  overflow: hidden;
  background-color: #efefef;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}
.input-containers img {
  max-width: 25px;
  margin: 0 5px;
  border-right: 2px solid black;
  padding-right: 10px;
}
#right-containers .input-box {
  border: 0;
  width: 90%;
  background-color: transparent;
  outline: none;
}
#forgot-password {
  text-decoration: none;
  color: black;
  text-align: right;
  margin-top: 5px;
  width: 60%;
}
#buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
  width: 60%;
  cursor: pointer;
}

#other-options {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
#other-options h5 {
  margin-bottom: 10px;
}
.join {
  width: 40px;
  margin-right: 10px;
}
.switch {
  text-decoration: none;
  color: black;
  margin: 5px 0 30px 0;
}
.switch span {
  color: #3a96ff;
}
#sign-up {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: show 1s ease-in-out;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
  #sign-in-containers {
    display: block;
  }
  .containers {
    width: 100%;
    position: relative;
  }
  #left-containers {
    display: none;
  }
  #right-containers {
    overflow-y: auto;
  }

  #logo {
    max-width: 10%;
    margin: 0 10px;
  }

  #avatar {
    max-width: 35%;
  }
  .input-containers img {
    max-width: 20px;
    padding-right: 5px;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    margin-left: 1000px;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    margin-left: 1000px;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
