* {
  padding: 0;
  margin: 0;
}

red {
  color: var(--mred);
}
green {
  color: var(--mgreen);
}
blue {
  color: var(--mblue);
}
yellow {
  color: var(--myellow);
}

blue,
red,
yellow,
green {
  font-weight: 700;
  font-size: 30px;
}
.typed-cursor {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0.5rem;
}

#who-we-are {
  position: relative;
  background: rgba(82, 171, 255, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
}

#community {
  position: absolute;
  opacity: 0.3;
}

.tech-stack-card {
  border-radius: "5px";
  border: 1px solid #d9e7fd;
}
