* {
  padding: 0;
  margin: 0;
}

#one {
  border-right: 1px solid var(--mblue);
  border-left: 1px solid var(--mblue);
}

#two {
  border-right: 1px solid var(--mgreen);
  border-left: 1px solid var(--mgreen);
}

#three {
  border-right: 1px solid var(--myellow);
  border-left: 1px solid var(--myellow);
}

#four {
  border-right: 1px solid var(--mred);
  border-left: 1px solid var(--mred);
}

#one, #two, #three, #four {
  font-size: 26px;
}

@keyframes fontalicious {
  0% {
    font-family: Geneva;
  }
  10% {
    font-family: times;
  }
  20% {
    font-family: Geneva;
  }
  30% {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  40% {
    font-family: Palatino;
  }
  50% {
    font-family: Tahoma;
  }
  60% {
    font-family: impact;
  }
  70% {
    font-family: cursive;
  }
  80% {
    font-family: Times New Roman;
  }
  85% {
    font-family: Tahoma, Geneva, sans-serif;
  }
  90% {
    font-family: Arial;
  }
  99% {
    font-family: futura;
  }
  100% {
    font-family: Helvetica;
  }
}

.fontalicious {
  animation-name: fontalicious;
  animation-iteration-count: 4;
  animation-duration: 1s;
}

.text-142849 {
  color: #142849;
}

#who-we-are {
  position: relative;
  background: rgba(82, 171, 255, 0.1);
}

#community {
  position: absolute;
  opacity: 0.3;
}

.tech-stack-card {
  border-radius: "5px";
}