* {
  padding: 0;
  margin: 0;
}

#one {
  border-right: 1px solid var(--mblue);
  border-left: 1px solid var(--mblue);
}

#two {
  border-right: 1px solid var(--mgreen);
  border-left: 1px solid var(--mgreen);
}

#three {
  border-right: 1px solid var(--myellow);
  border-left: 1px solid var(--myellow);
}

#four {
  border-right: 1px solid var(--mred);
  border-left: 1px solid var(--mred);
}

#one,
#two,
#three,
#four {
  font-size: 26px;
}

red {
  color: var(--mred);
}
green {
  color: var(--mgreen);
}
blue {
  color: var(--mblue);
}
yellow {
  color: var(--myellow);
}

blue,
red,
yellow,
green {
  font-weight: 700;
  font-size: 30px;
}
.typed-cursor {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0.5rem;
}

.text-142849 {
  text-align: justify;
  color: #142849;
  font-size: 18px;
}

#who-we-are {
  position: relative;
  background: rgba(82, 171, 255, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
}

#community {
  position: absolute;
  opacity: 0.3;
}

.tech-stack-card {
  border-radius: "5px";
  border: 1px solid #d9e7fd;
}
