:root {
  --mblue: #4285f4;
  --myellow: #fbbc04;
  --mgreen: #0f9d58;
  --mred: #ea4335;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s linear;
}
html {
  --bg-color: #ffffff;
  --color: black;
  --logo: url("../img/logo-light.png") !important;
  /* --nav-bg: #ffffff; */
  --bg-theme-switcher: #7e7e7e;
  --home-color: black;
  --bg-dark: white;
  --text-142849: #142849;
  --bg-login: #e8e8e8;
}
html.dark {
  --bg-color: #0c0c0c;
  --color: #ffffff;
  /* background-color: var(--bg-color); */
  --logo: url("../img/logo-dark.png") !important;
  /* --nav-bg: black; */
  --bg-theme-switcher: white;
  --home-color: white;
  --bg-card: #000000;
  --text-142849: #ffffff;
  --bg-login: #0c0c0c;
}
body {
  background-color: var(--bg-color);
}
#sign-in-containers {
  background-color: var(--bg-color);
}
nav.bg-dark {
  background-color: var(--bg-color) !important;
}
.card {
  background-color: var(--bg-card) !important;
  color: var(--color);
}
#HOME {
  color: var(--home-color);
}
#dsc-logo {
  max-width: 100%;
  height: auto;
  content: var(--logo);
}
button.navbar-toggler,
button.MuiToggleButton-root {
  outline: none;
  border: none;
}
.faBars,
.MuiToggleButton-root {
  color: var(--bg-theme-switcher) !important;
}
.faBars {
  font-size: larger;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color);
}
.text-142849 {
  color: var(--text-142849);
  text-align: justify;
  font-size: 18px;
}
.typed-cursor {
  color: var(--color);
}
#left-containers {
  background-color: var(--bg-login);
}
/* .MuiPaper-root table */
div#event-table.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  background-color: var(--bg-card);
}
.MuiTableRow-root.MuiTableRow-head th {
  background-color: var(--bg-card);
  color: var(--color);
}
/* .MuiToolbar-root.MuiToolbar-regular.MuiTablePagination-toolbar.MuiToolbar-gutters {
  color: white;
} */
.MuiTablePagination-root svg {
  fill: var(--bg-theme-switcher);
}
.MuiTablePagination-root p,
.MuiTablePagination-root div {
  color: var(--color);
}

td.MuiTableCell-root.MuiTableCell-body {
  color: var(--color) !important;
}
/* tr .MuiTableCell-root .MuiTableCell-body {
  color: white !important;
} */
.my-50 {
  margin: 50px 0;
}

.fs-40 {
  font-size: 40px;
}

body {
  overflow-x: hidden;
}

.bg-blue {
  background-color: var(--mblue);
  color: white !important;
}

.fs-20 {
  font-size: 20px;
}

.text-green {
  color: var(--mgreen);
}

.text-red {
  color: var(--mred);
}

.text-blue {
  color: var(--mblue);
}

.text-yellow {
  color: var(--myellow);
}

.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.z-depth-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.mb-50 {
  margin-bottom: 50px;
}

/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.ff-open-sans {
  font-family: "Open Sans", sans-serif;
}

#bubble {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: fixed;
  display: none;
  z-index: -1;
}

.z-2 {
  z-index: 2 !important;
}

button,
a,
.card,
input {
  z-index: 2 !important;
}
/* breakpoints
// Small devices (landscape phones, 576px and up) sm

// Medium devices (tablets, 768px and up) md

// Large devices (desktops, 992px and up) lg

// Extra large devices (large desktops, 1200px and up) xl
*/

/* body {
  background: #363537 !important;
  color: #fff !important;
} */
