* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  background-color: rgb(32, 32, 32);
  font-family: "Poppins", sans-serif;
  color: white;
}
#footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#footer-container h1 {
  color: white;
  margin: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
}
#footer-container h1::before {
  content: "| ";
  color: #3a96ff;
  font-size: 25px;
}
#footer-container .content {
  width: 22%;
}
#quick-links ul {
  list-style: none;
}
#quick-links ul li {
  margin-bottom: 5px;
}
#quick-links ul li::before {
  content: "> ";
  color: #3a96ff;
}
#quick-links ul li a {
  text-decoration: none;
  color: white;
}
#contact #social {
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#contact #social a {
  background-color: #494848;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-left: 5px;
}
#contact #social a i {
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}
#copyright {
  width: 100%;
  height: 70px;
  background-color: rgb(12, 12, 12);
  text-align: center;
  color: white;
  padding-top: 5px;
}
#copyright h5 {
  margin-top: 2px;
}
#copyright h5 span {
  color: red;
}
#newsletter input {
  border: 0;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
  outline: none;
}
#newsletter input[type="email"] {
  width: 80%;
  padding-left: 5px;
}
#newsletter input[type="submit"] {
  background-color: #3a96ff;
  color: white;
  width: 80%;
  height: 35px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  footer {
    height: 100%;
  }
  #footer-container .content {
    width: 100%;
    padding: 0 20px;
  }
  #newsletter input[type="email"] {
    width: 160px;
    padding-left: 5px;
    font-size: 12px;
  }
  #newsletter input[type="submit"] {
    background-color: #3a96ff;
    color: white;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-left: -5px;
    font-size: 12px;
  }
}
