/* .Contact {
  padding: 50px;
} */
.Contact p {
  font-size: 22px;
  font-weight: 400;
}
.Contact_social_icons {
  display: flex;
  justify-content: left;
  margin: 15px auto;
}

/* .Contact_icons {
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 30px;
  justify-content: space-evenly;
} */
.social-icons {
  font-size: 25px;
  color: gray;
  margin: 0 10px;
}

.Contact_l a {
  text-decoration: none;
}
/* @media (min-width: 500px) {
  .Contact_social_icons {
    width: 400px;
  }
} */
